
html,
body {
   color: black;
   background-image: none;
   background: #FFF;
   font-family: "Times New Roman", Georgia, Serif;
}
.hidden_print, .polosochka, .pick-info p{
    display: none;
}
.content-item img {
    margin-left: 0px;
    height: 255px;
    width: 700px;
    object-fit: cover;
}